 * {
    box-sizing: border-box;
 }
 h1 {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #a52a2a;
    width: 60%;
    margin: 0 auto;
    text-align: center;
 }